body,
html,
main,
aside,
nav,
header,
footer,
article,
section,
figure,
div,
h1,
h2,
h3,
h4,
h5,
hgroup,
svg,
img,
label,
input,
form,
button,
span,
p,
strong,
ul,
li,
ol,
i {
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  border: 0;
  outline: 0;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
h1 {
  font-family: 'Avenir Next Cyr';
  font-size: 3.072916666666667vw;
  font-weight: bold;
}
h2 {
  font-family: 'Avenir Next Cyr';
  font-size: 2.083333333333333vw;
  font-weight: bold;
}
p {
  font-size: 1.041666666666667vw;
}
.subtitle {
  font-size: 1.354166666666667vw;
}
.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 62.5vw;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -15px;
}
.align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #000;
  -webkit-border-radius: 2.604166666666667vw;
          border-radius: 2.604166666666667vw;
  font-size: 0.9375vw;
  color: #fff;
  background-image: -webkit-linear-gradient(90deg, #1e1e1e 0%, #4d4d4d 100%);
  background-image: -ms-linear-gradient(90deg, #1e1e1e 0%, #4d4d4d 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.004);
          box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.004);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn.app-store {
  padding-top: 1.927083333333333vw;
  padding-bottom: 1.927083333333333vw;
  padding-left: 4.84375vw;
  padding-right: 1.979166666666667vw;
}
.btn.app-store::before {
  left: 9%;
  width: 2.604166666666667vw;
  height: 2.604166666666667vw;
  background-image: url("../img/svg/apple.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.btn.google-play {
  padding-top: 1.927083333333333vw;
  padding-bottom: 1.927083333333333vw;
  padding-left: 4.166666666666667vw;
  padding-right: 1.822916666666667vw;
}
.btn.google-play::before {
  left: 9%;
  width: 2.1875vw;
  height: 2.1875vw;
  background-image: url("../img/svg/google-play.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.btn:hover {
  background-image: -webkit-linear-gradient(90deg, #4d4d4d 0%, #1e1e1e 100%);
  background-image: -ms-linear-gradient(90deg, #4d4d4d 0%, #1e1e1e 100%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-default {
  cursor: pointer;
  padding-top: 1.197916666666667vw;
  padding-bottom: 1.197916666666667vw;
  padding-left: 1.302083333333333vw;
  padding-right: 1.302083333333333vw;
  border-bottom: 2px solid #217bc4;
  -webkit-border-radius: 2.604166666666667vw;
          border-radius: 2.604166666666667vw;
  font-size: 0.9375vw;
  color: #000;
  background-image: -webkit-linear-gradient(90deg, #00b7ff 0%, #00ecff 100%);
  background-image: -ms-linear-gradient(90deg, #00b7ff 0%, #00ecff 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(33,123,196,0.004);
          box-shadow: 0px 2px 0px 0px rgba(33,123,196,0.004);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-default:hover {
  background-image: -webkit-linear-gradient(90deg, #00edff 0%, #00b7ff 100%);
  background-image: -ms-linear-gradient(90deg, #00edff 0%, #00b7ff 100%);
}
.main-section {
  padding-top: 9.8%;
  padding-bottom: 14.1%;
  background-image: url("../img/main-section-bg-2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.main-section .container {
  position: relative;
}
.main-section h1 {
  display: block;
  width: 29.166666666666668vw;
  padding-left: 0.416666666666667vw;
  line-height: 3.75vw;
  letter-spacing: 1px;
  color: #fff;
}
.main-section .subtitle {
  margin-top: 1.6%;
  padding-left: 0.416666666666667vw;
  color: #fff;
}
.main-section .btn-group {
  margin-top: 1.666666666666667vw;
}
.main-section .btn-group .btn.app-store {
  margin-left: 0.520833333333333vw;
}
.main-section .btn-group .btn.google-play {
  margin-left: 0.78125vw;
}
.main-section .feature-box {
  position: absolute;
  top: -7.8125vw;
  right: -3.072916666666667vw;
  width: 29.791666666666668vw;
}
.main-section .feature-box .feature {
  width: 100%;
}
.about-section {
  position: relative;
  padding-top: 4.322916666666667vw;
  padding-bottom: 7.447916666666667vw;
}
.about-section .bg-feature {
  position: absolute;
}
.about-section .bg-feature.first {
  top: 37%;
  left: 50%;
  -webkit-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
          transform: translateX(-40%);
  width: 10.9375vw;
  height: 10.9375vw;
  background-image: url("../img/svg/bg-feature-1.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.about-section .bg-feature.second {
  top: 6%;
  left: 18.5%;
  width: 5.989583333333333vw;
  height: 5.989583333333333vw;
  background-image: url("../img/svg/bg-feature-1.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.about-section .bg-feature.third {
  top: 73%;
  left: 69.8%;
  width: 4.6875vw;
  height: 4.6875vw;
  background-image: url("../img/svg/bg-feature-1.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.about-section .bg-feature.fourth {
  top: 74%;
  left: 13.5%;
  width: 5.46875vw;
  height: 5.46875vw;
  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}
.about-section .bg-feature.fifth {
  top: 3%;
  left: 76.4%;
  width: 3.125vw;
  height: 3.125vw;
  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.about-section .video {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 29.6875vw;
  height: 19.791666666666668vw;
  margin-left: 1.5625vw;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  overflow: hidden;
}
.about-section .video #player {
  outline: 0;
  border: 0;
}
.about-section .video .video-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/video-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.about-section .video .video-bg::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw;
  background-color: transparent;
  background-image: url("../img/svg/play.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about-section .video:hover .video-bg::before {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}
.about-section .info {
  position: relative;
  display: inline-block;
  width: 26.041666666666668vw;
  margin-left: 2.604166666666667vw;
}
.about-section .info h2 {
  margin-bottom: 1.302083333333333vw;
}
.about-section .info p {
  width: 23.958333333333332vw;
  line-height: 1.458333333333333vw;
}
.basic-section {
  padding-top: 9.375vw;
  padding-bottom: 9.635416666666666vw;
  background-image: url("../img/basic-section-bg-2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.basic-section .container {
  position: relative;
}
.basic-section .info {
  margin-left: 8.59375vw;
}
.basic-section .info h2 {
  color: #fff;
}
.basic-section .info .subtitle {
  margin-top: 0.416666666666667vw;
  margin-bottom: 1.5625vw;
  color: #fff;
}
.basic-section .info p {
  width: 23.4375vw;
  line-height: 1.458333333333333vw;
}
.basic-section .info p span {
  font-weight: bold;
}
.basic-section .info p.pd {
  padding-top: 0.625vw;
  padding-bottom: 0.46875vw;
}
.basic-section .info .btn-default {
  margin-top: 1.666666666666667vw;
}
.basic-section .feature-box {
  position: absolute;
  top: -6.510416666666667vw;
  right: 9.791666666666666vw;
  width: 15.15625vw;
}
.basic-section .feature-box .feature {
  width: 100%;
}
.constructor-section {
  position: relative;
  padding-top: 2.864583333333333vw;
  padding-bottom: 3.229166666666667vw;
}
.constructor-section .bg-feature {
  position: absolute;
  top: 30%;
  left: 39%;
  width: 22.395833333333332vw;
  height: 22.395833333333332vw;
  background-image: url("../img/constructor-section-feature.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section h2 {
  text-align: center;
  margin-left: 1.041666666666667vw;
}
.constructor-section .subtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 27.34375vw;
  margin: 0 auto;
  padding-top: 0.364583333333333vw;
  padding-left: 0.677083333333333vw;
  text-align: center;
}
.constructor-section .subtitle.mod {
  width: 33.854166666666664vw;
}
.constructor-section .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.9375vw;
}
.constructor-section .content .icon-block {
  margin-top: 6.197916666666667vw;
}
.constructor-section .content .icon-block.first .icon-box {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 3.802083333333333vw;
}
.constructor-section .content .icon-block.first .icon-box.shift {
  -webkit-transform: translateX(-16%);
      -ms-transform: translateX(-16%);
          transform: translateX(-16%);
}
.constructor-section .content .icon-block.second .icon-box {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.802083333333333vw;
}
.constructor-section .content .icon-block.second .icon-box.shift {
  -webkit-transform: translateX(16%);
      -ms-transform: translateX(16%);
          transform: translateX(16%);
}
.constructor-section .content .icon-block .icon-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.5625vw;
}
.constructor-section .content .icon-block .icon-box span {
  display: block;
}
.constructor-section .content .icon-block .icon-box .label {
  padding-top: 0.260416666666667vw;
  line-height: 1.458333333333333vw;
  font-size: 1.041666666666667vw;
}
.constructor-section .content .icon-block .icon-box .icon {
  width: 2.604166666666667vw;
  height: 2.604166666666667vw;
}
.constructor-section .content .icon-block .icon-box .icon.first {
  background-image: url("../img/constructor-icon-1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section .content .icon-block .icon-box .icon.second {
  background-image: url("../img/constructor-icon-2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section .content .icon-block .icon-box .icon.third {
  background-image: url("../img/constructor-icon-3.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section .content .icon-block .icon-box .icon.fourth {
  background-image: url("../img/constructor-icon-4.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section .content .icon-block .icon-box .icon.fifth {
  background-image: url("../img/constructor-icon-5.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section .content .icon-block .icon-box .icon.sixth {
  background-image: url("../img/constructor-icon-6.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section .content .icon-block .icon-box .icon.seventh {
  background-image: url("../img/constructor-icon-7.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section .content .icon-block .icon-box .icon.eighth {
  background-image: url("../img/constructor-icon-8.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.constructor-section .content .constructor-img {
  position: relative;
  margin-top: 1.822916666666667vw;
  width: 15.625vw;
}
.constructor-section .content .constructor-img .feature {
  width: 100%;
}
.create-section {
  position: relative;
  padding-top: 9.166666666666666vw;
  padding-bottom: 8.697916666666666vw;
  background-image: url("../img/create-section-bg-2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.create-section .info {
  margin-left: 29.947916666666668vw;
}
.create-section .info h2 {
  color: #fff;
}
.create-section .info .subtitle {
  margin-top: 0.416666666666667vw;
  margin-bottom: 1.5625vw;
  color: #fff;
}
.create-section .info p {
  width: 22.395833333333332vw;
  line-height: 1.458333333333333vw;
}
.create-section .info p.pd {
  padding-top: 0.520833333333333vw;
  padding-bottom: 1.5625vw;
}
.create-section .feature-box {
  position: absolute;
  top: -3.020833333333333vw;
  left: 29.583333333333332vw;
  width: 14.322916666666666vw;
}
.create-section .feature-box .feature {
  width: 100%;
}
.profile-section {
  position: relative;
  padding-top: 7.395833333333333vw;
  padding-bottom: 6.875vw;
}
.profile-section .info {
  margin-left: 4.010416666666667vw;
}
.profile-section .info h2 {
  margin-bottom: 1.302083333333333vw;
}
.profile-section .info p {
  width: 30.729166666666668vw;
  line-height: 1.458333333333333vw;
}
.profile-section .info p.pd {
  margin-top: 0.46875vw;
}
.profile-section .info .btn-group {
  margin-top: 1.5625vw;
}
.profile-section .info .btn-group .btn.google-play {
  margin-left: 0.78125vw;
}
.profile-section .feature-box {
  position: absolute;
  top: 2.916666666666667vw;
  right: 22.8125vw;
  width: 18.072916666666668vw;
}
.profile-section .feature-box .feature {
  width: 100%;
}
.changes-section {
  padding-top: 5.208333333333333vw;
  padding-bottom: 5.989583333333333vw;
  background-image: url("../img/changes-section-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.changes-section h2 {
  padding-left: 0.729166666666667vw;
  text-align: center;
  color: #fff;
}
.changes-section .subtitle {
  padding-top: 0.46875vw;
  padding-left: 0.46875vw;
  text-align: center;
  color: #fff;
}
.changes-section .item-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33333333%;
  padding: 0 15px;
}
.changes-section .item-box .icon {
  display: block;
}
.changes-section .item-box.first {
  padding-top: 1.770833333333333vw;
  -webkit-transform: translateX(-4%);
      -ms-transform: translateX(-4%);
          transform: translateX(-4%);
}
.changes-section .item-box.first p {
  width: 16.71875vw;
}
.changes-section .item-box.first .subtitle {
  padding-top: 0.78125vw;
}
.changes-section .item-box.first .icon {
  width: 4.166666666666667vw;
  height: 4.166666666666667vw;
  background-image: url("../img/svg/changes-icon-1.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.changes-section .item-box.second {
  padding-top: 1.458333333333333vw;
}
.changes-section .item-box.second p {
  width: 17.447916666666668vw;
}
.changes-section .item-box.second .subtitle {
  padding-top: 0.46875vw;
}
.changes-section .item-box.second .icon {
  width: 4.791666666666667vw;
  height: 4.791666666666667vw;
  background-image: url("../img/svg/changes-icon-2.svg");
  backound-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.changes-section .item-box.third {
  padding-top: 2.083333333333333vw;
  -webkit-transform: translateX(6%);
      -ms-transform: translateX(6%);
          transform: translateX(6%);
}
.changes-section .item-box.third p {
  width: 13.541666666666666vw;
}
.changes-section .item-box.third .subtitle {
  padding-top: 1.041666666666667vw;
}
.changes-section .item-box.third .icon {
  width: 3.645833333333333vw;
  height: 3.645833333333333vw;
  background-image: url("../img/svg/changes-icon-3.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.changes-section .item-box.fourth {
  padding-top: 3.072916666666667vw;
  -webkit-transform: translateX(-4%);
      -ms-transform: translateX(-4%);
          transform: translateX(-4%);
}
.changes-section .item-box.fourth p {
  width: 15.364583333333334vw;
}
.changes-section .item-box.fourth .subtitle {
  padding-top: 0.677083333333333vw;
}
.changes-section .item-box.fourth .icon {
  width: 4.479166666666667vw;
  height: 4.479166666666667vw;
  background-image: url("../img/svg/changes-icon-4.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.changes-section .item-box.fifth {
  padding-top: 3.541666666666667vw;
}
.changes-section .item-box.fifth p {
  width: 14.0625vw;
}
.changes-section .item-box.fifth .subtitle {
  width: 14.0625vw;
  padding-top: 1.145833333333333vw;
}
.changes-section .item-box.fifth .icon {
  width: 4.0625vw;
  height: 3.541666666666667vw;
  background-image: url("../img/svg/changes-icon-5.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.changes-section .item-box.sixth {
  padding-top: 3.125vw;
  -webkit-transform: translateX(6%);
      -ms-transform: translateX(6%);
          transform: translateX(6%);
}
.changes-section .item-box.sixth p {
  width: 15.625vw;
}
.changes-section .item-box.sixth .subtitle {
  padding-top: 0.833333333333333vw;
}
.changes-section .item-box.sixth .icon {
  width: 3.854166666666667vw;
  height: 4.375vw;
  background-image: url("../img/svg/changes-icon-6.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.changes-section .item-box .subtitle {
  width: 12.760416666666666vw;
  padding-top: 0;
  padding-left: 0;
  line-height: 1.71875vw;
  color: #000;
}
.changes-section .item-box p {
  margin-top: 0.3125vw;
  line-height: 1.25vw;
  font-size: 0.833333333333333vw;
  text-align: center;
}
.faq-section {
  padding-top: 2.8125vw;
  padding-bottom: 5.572916666666667vw;
}
.faq-section h2 {
  padding-left: 0.625vw;
  padding-bottom: 1.510416666666667vw;
  text-align: center;
}
.faq-section .accordeon {
  margin-left: 4.791666666666667vw;
  margin-right: 4.010416666666667vw;
}
.faq-section .accordeon .list-item {
  text-align: left;
  margin-bottom: 1.302083333333333vw;
}
.faq-section .accordeon .list-item .list-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  height: 5.364583333333333vw;
  padding-left: 1.666666666666667vw;
  padding-right: 10.416666666666666vw;
  border-bottom: 2px solid #9a44ba;
  -webkit-border-top-right-radius: 50px;
          border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
          border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 25px;
          border-bottom-left-radius: 25px;
  line-height: 1.458333333333333vw;
  font-size: 1.25vw;
  color: #fff;
  background-image: -webkit-linear-gradient(180deg, #ff7cdc 0%, #d78bf1 100%);
  background-image: -ms-linear-gradient(180deg, #ff7cdc 0%, #d78bf1 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(154,68,186,0.004);
          box-shadow: 0px 2px 0px 0px rgba(154,68,186,0.004);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.faq-section .accordeon .list-item .list-title::after {
  content: "";
  position: absolute;
  top: 43%;
  right: 4.6%;
  width: 1.5625vw;
  height: 1.5625vw;
  border-width: 0.104166666666667vw;
  border-style: solid;
  border-color: #fff;
  border-right: none;
  border-bottom: none;
  -webkit-transform: translateY(-50%) rotate(-135deg);
      -ms-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
.faq-section .accordeon .list-item .list-info {
  display: none;
  margin-left: 2.083333333333333vw;
  margin-right: 2.083333333333333vw;
  padding-top: 1.302083333333333vw;
  padding-bottom: 1.302083333333333vw;
  padding-left: 1.5625vw;
  padding-right: 1.5625vw;
  line-height: 1.458333333333333vw;
  -webkit-border-bottom-left-radius: 50px;
          border-bottom-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
          border-bottom-right-radius: 50px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}
.faq-section .accordeon .list-item.active .list-title {
  background-image: -webkit-linear-gradient(0deg, #ff7cdc 0%, #d78bf1 100%);
  background-image: -ms-linear-gradient(0deg, #ff7cdc 0%, #d78bf1 100%);
}
.faq-section .accordeon .list-item.active .list-title:after {
  -webkit-transform: translateY(22%) rotate(45deg);
      -ms-transform: translateY(22%) rotate(45deg);
          transform: translateY(22%) rotate(45deg);
}
.faq-section .accordeon .list-item.active .list-info {
  display: block;
}
.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343434;
  padding-top: 1%;
  padding-bottom: 1%;
}

.main-footer .container_self{
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343434;
  width: 66%;

}

.main-footer .col_center{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

@media (max-width: 640px){

  .main-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .main-footer .container_self{
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #343434;
    width: 100%;
  
  }
  
  .main-footer .col_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }

  .main-footer .col_center a{
    color:#fff;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    padding-bottom: 4%;
  }

  .main-footer span {
    position: relative;
    display: block;
    margin-left: 35px;
    font-size: 18px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-footer span:before {
    content: "\00A9";
    position: absolute;
    top: 50%;
    left: 41% !important;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
}

.main-footer .col_center a{
  color:#fff;
  text-decoration: none;

}

.main-footer .col_center a:hover{
  text-decoration: underline;
}

.main-footer span {
  position: relative;
  display: block;
  margin-left: 35px;
  font-size: 18px;
  color: #fff;
}
.main-footer span:before {
  content: "\00A9";
  position: absolute;
  top: 50%;
  left: -18px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  opacity: 0;
}
@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  visibility: visible;
  opacity: 1;
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  visibility: visible;
  opacity: 1;
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  visibility: visible;
  opacity: 1;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  visibility: visible;
  opacity: 1;
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 576px) {
  .container {
    max-width: 66.66666666666667vw;
    padding: 0;
  }
  h1 {
    font-size: 6.666666666666667vw;
  }
  h2 {
    font-size: 7.083333333333333vw;
  }
  p {
    font-size: 3.333333333333333vw;
  }
  .subtitle {
    font-size: 4.583333333333333vw;
  }
  .row {
    margin: 0;
  }
  .btn {
    display: block;
    -webkit-border-radius: 10.416666666666666vw;
            border-radius: 10.416666666666666vw;
    font-size: 3.75vw;
  }
  .btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .btn.app-store {
    padding-top: 7.291666666666667vw;
    padding-bottom: 7.291666666666667vw;
    padding-left: 19.375vw;
    padding-right: 7.916666666666667vw;
  }
  .btn.app-store::before {
    left: 9%;
    width: 10.416666666666666vw;
    height: 10.416666666666666vw;
  }
  .btn.google-play {
    margin-top: 3.541666666666667vw;
    padding-top: 7.291666666666667vw;
    padding-bottom: 7.291666666666667vw;
    padding-left: 16.666666666666668vw;
    padding-right: 7.291666666666667vw;
  }
  .btn.google-play::before {
    left: 9%;
    width: 8.75vw;
    height: 8.75vw;
  }
  .btn-default {
    display: block;
    width: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 5.208333333333333vw;
    padding-right: 5.208333333333333vw;
    -webkit-border-radius: 10.416666666666666vw;
            border-radius: 10.416666666666666vw;
    font-size: 3.75vw;
    white-space: nowrap;
  }
  .main-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 14%;
    padding-bottom: 87.29166666666667vw;
    background-image: url("../img/main-section-bg.png");
  }
  .main-section .container {
    position: relative;
  }
  .main-section h1 {
    width: auto;
    margin: 0 auto;
    padding-left: 3.75vw;
    padding-right: 3.75vw;
    line-height: 8.333333333333334vw;
    letter-spacing: 0;
    text-align: justify;
  }
  .main-section .subtitle {
    display: block;
    width: auto;
    margin: 0 auto;
    padding-top: 3.333333333333333vw;
    padding-left: 2.083333333333333vw;
    padding-right: 2.083333333333333vw;
    color: #fff;
  }
  .main-section .btn-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10.416666666666666vw;
    margin-bottom: 0;
  }
  .main-section .btn-group .btn.app-store {
    margin-left: 0;
  }
  .main-section .btn-group .btn.google-play {
    margin-left: 0;
  }
  .main-section .feature-box {
    position: absolute;
    top: auto;
    bottom: -89.375vw;
    right: auto;
    left: 1.041666666666667vw;
    width: 65.20833333333333vw;
  }
  .about-section {
    padding-top: 15.833333333333334vw;
    padding-bottom: 16.041666666666668vw;
  }
  .about-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .bg-feature.first {
    top: 68%;
    left: 73%;
    width: 43.75vw;
    height: 43.75vw;
  }
  .about-section .bg-feature.second {
    top: 61.5%;
    left: 2%;
    width: 23.958333333333332vw;
    height: 23.958333333333332vw;
  }
  .about-section .bg-feature.third {
    top: 4.6%;
    left: 73%;
    width: 18.75vw;
    height: 18.75vw;
  }
  .about-section .bg-feature.fourth {
    top: -7%;
    left: 2.5%;
    width: 21.875vw;
    height: 21.875vw;
  }
  .about-section .bg-feature.fifth {
    top: 46%;
    left: 82.4%;
    width: 12.5vw;
    height: 12.5vw;
  }
  .about-section .video {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 44.791666666666664vw;
    margin-left: 0;
  }
  .about-section .info {
    width: auto;
    margin-left: 1.875vw;
    margin-bottom: 5.208333333333333vw;
  }
  .about-section .info h2 {
    margin-bottom: 4.166666666666667vw;
  }
  .about-section .info p {
    width: auto;
    line-height: 5vw;
  }
  .basic-section {
    padding-top: 30vw;
    padding-bottom: 91.66666666666667vw;
    background-image: url("../img/basic-section-bg.png");
  }
  .basic-section .container {
    position: relative;
  }
  .basic-section .info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .basic-section .info h2 {
    text-align: center;
  }
  .basic-section .info .subtitle {
    text-align: center;
    margin-top: 2.708333333333333vw;
    margin-bottom: 6.25vw;
    color: #fff;
  }
  .basic-section .info p {
    text-align: center;
    width: auto;
    line-height: 5vw;
  }
  .basic-section .info p.pd {
    padding-top: 2.5vw;
    padding-bottom: 1.875vw;
  }
  .basic-section .info .btn-default {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.833333333333333vw;
  }
  .basic-section .feature-box {
    position: absolute;
    top: 93.33333333333333vw;
    right: auto;
    left: 52%;
    width: 41.041666666666664vw;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .basic-section .feature-box .feature {
    width: 100%;
  }
  .constructor-section {
    padding-top: 11.458333333333334vw;
    padding-bottom: 14.583333333333334vw;
  }
  .constructor-section .bg-feature {
    position: absolute;
    top: 23.8%;
    left: 3%;
    width: 93.75vw;
    height: 93.75vw;
  }
  .constructor-section h2 {
    margin-left: 0;
  }
  .constructor-section .subtitle {
    width: auto;
    margin: 0 6.25vw;
    padding-top: 4.583333333333333vw;
    padding-left: 0;
  }
  .constructor-section .subtitle.mod {
    display: none;
    width: auto;
  }
  .constructor-section .content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 3.75vw;
  }
  .constructor-section .content .icon-block {
    width: 50%;
    margin-top: 6.458333333333333vw;
  }
  .constructor-section .content .icon-block.first {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .constructor-section .content .icon-block.first .icon-box {
    padding-right: 2.083333333333333vw;
  }
  .constructor-section .content .icon-block.first .icon-box.shift {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .constructor-section .content .icon-block.first .icon-box .label {
    padding-right: 2.083333333333333vw;
  }
  .constructor-section .content .icon-block.second {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .constructor-section .content .icon-block.second .icon-box {
    padding-left: 2.083333333333333vw;
  }
  .constructor-section .content .icon-block.second .icon-box.shift {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .constructor-section .content .icon-block.second .icon-box .label {
    padding-left: 2.083333333333333vw;
  }
  .constructor-section .content .icon-block .icon-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 6.458333333333333vw;
  }
  .constructor-section .content .icon-block .icon-box span {
    display: block;
  }
  .constructor-section .content .icon-block .icon-box .label {
    padding-top: 1.458333333333333vw;
    line-height: 5.833333333333333vw;
    font-size: 2.916666666666667vw;
  }
  .constructor-section .content .icon-block .icon-box .icon {
    width: 10.416666666666666vw;
    height: 10.416666666666666vw;
  }
  .constructor-section .content .constructor-img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 7.708333333333333vw;
    width: 62.5vw;
  }
  .constructor-section .content .constructor-img .feature {
    width: 100%;
  }
  .create-section {
    position: relative;
    padding-top: 26.666666666666668vw;
    padding-bottom: 102.70833333333333vw;
    background-image: url("../img/create-section-bg.png");
  }
  .create-section .info {
    margin-left: 0;
  }
  .create-section .info h2 {
    text-align: center;
  }
  .create-section .info .subtitle {
    margin-top: 2.083333333333333vw;
    margin-bottom: 4.166666666666667vw;
    text-align: center;
  }
  .create-section .info p {
    width: auto;
    margin-left: 3.125vw;
    margin-right: 3.125vw;
    line-height: 5vw;
    text-align: center;
  }
  .create-section .info p.pd {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    padding-top: 2.083333333333333vw;
    padding-bottom: 4.166666666666667vw;
  }
  .create-section .info .btn-default {
    margin-top: 0.833333333333333vw;
    margin-left: auto;
    margin-right: auto;
  }
  .create-section .feature-box {
    position: absolute;
    top: 68%;
    left: 28%;
    width: 36.041666666666664vw;
  }
  .profile-section {
    padding-top: 30.833333333333332vw;
    padding-bottom: 133.125vw;
  }
  .profile-section .info {
    margin-left: 0;
  }
  .profile-section .info h2 {
    margin-bottom: 3.125vw;
    text-align: center;
  }
  .profile-section .info p {
    width: auto;
    margin-left: 2.708333333333333vw;
    margin-right: 2.708333333333333vw;
    line-height: 5vw;
    text-align: left;
  }
  .profile-section .info p.pd {
    margin-top: 1.875vw;
  }
  .profile-section .info .btn-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 7.291666666666667vw;
  }
  .profile-section .info .btn-group .btn.app-store {
    margin-left: 0;
  }
  .profile-section .info .btn-group .btn.google-play {
    margin-top: 4.583333333333333vw;
    margin-left: 0;
  }
  .profile-section .feature-box {
    position: absolute;
    top: 175.625vw;
    right: 23.541666666666668vw;
    width: 54.583333333333336vw;
  }
  .changes-section {
    padding-top: 21.875vw;
    padding-bottom: 29.583333333333332vw;
    background-image: url("../img/changes-section-bg-2.png");
  }
  .changes-section h2 {
    padding-left: 0;
  }
  .changes-section .subtitle {
    padding-top: 3.125vw;
    padding-left: 0;
    text-align: center;
  }
  .changes-section .item-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 15px;
  }
  .changes-section .item-box.first {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 9.166666666666666vw;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .changes-section .item-box.first p {
    width: auto;
    margin-top: 1.666666666666667vw;
  }
  .changes-section .item-box.first .subtitle {
    padding-top: 3.125vw;
    padding-left: 4.166666666666667vw;
    padding-right: 4.166666666666667vw;
  }
  .changes-section .item-box.first .icon {
    width: 16.666666666666668vw;
    height: 16.666666666666668vw;
  }
  .changes-section .item-box.second {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 6.666666666666667vw;
  }
  .changes-section .item-box.second p {
    width: auto;
    margin-top: 1.25vw;
  }
  .changes-section .item-box.second .subtitle {
    padding-top: 2.083333333333333vw;
  }
  .changes-section .item-box.second .icon {
    width: 19.166666666666668vw;
    height: 19.166666666666668vw;
  }
  .changes-section .item-box.third {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 9.166666666666666vw;
    padding-left: 2.083333333333333vw;
    padding-right: 2.083333333333333vw;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .changes-section .item-box.third p {
    width: auto;
    margin-top: 1.25vw;
  }
  .changes-section .item-box.third .subtitle {
    width: 37.5vw;
    padding-top: 4.166666666666667vw;
    letter-spacing: 0.520833333333333vw;
  }
  .changes-section .item-box.third .icon {
    width: 14.583333333333334vw;
    height: 14.583333333333334vw;
  }
  .changes-section .item-box.fourth {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 8.958333333333334vw;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .changes-section .item-box.fourth p {
    width: auto;
    margin-top: 1.666666666666667vw;
  }
  .changes-section .item-box.fourth .subtitle {
    padding-top: 2.5vw;
    padding-left: 4.166666666666667vw;
    padding-right: 4.166666666666667vw;
  }
  .changes-section .item-box.fourth .icon {
    width: 17.916666666666668vw;
    height: 17.916666666666668vw;
  }
  .changes-section .item-box.fifth {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 11.25vw;
  }
  .changes-section .item-box.fifth p {
    width: auto;
    margin-top: 1.25vw;
  }
  .changes-section .item-box.fifth .subtitle {
    width: auto;
    padding-top: 4.583333333333333vw;
  }
  .changes-section .item-box.fifth .icon {
    width: 16.25vw;
    height: 14.166666666666666vw;
  }
  .changes-section .item-box.sixth {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 8.958333333333334vw;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .changes-section .item-box.sixth p {
    width: auto;
    margin-top: 1.458333333333333vw;
  }
  .changes-section .item-box.sixth .subtitle {
    padding-top: 2.708333333333333vw;
    padding-left: 4.166666666666667vw;
    padding-right: 4.166666666666667vw;
  }
  .changes-section .item-box.sixth .icon {
    width: 15.416666666666666vw;
    height: 17.5vw;
  }
  .changes-section .item-box .subtitle {
    width: 51.041666666666664vw;
    padding-top: 0;
    padding-left: 0;
    line-height: 6.875vw;
    letter-spacing: 2px;
  }
  .changes-section .item-box p {
    margin-left: 0;
    margin-right: 0;
    line-height: 5vw;
    font-size: 3.333333333333333vw;
    text-align: center;
  }
  .faq-section {
    padding-top: 25.208333333333332vw;
    padding-bottom: 9.791666666666666vw;
  }
  .faq-section h2 {
    padding-left: 0;
    padding-bottom: 6.25vw;
    text-align: center;
  }
  .faq-section .accordeon {
    margin-left: 0;
    margin-right: 0;
  }
  .faq-section .accordeon .list-item {
    text-align: left;
    margin-bottom: 4.166666666666667vw;
  }
  .faq-section .accordeon .list-item .list-title {
    height: 21.458333333333332vw;
    padding-left: 2.083333333333333vw;
    padding-right: 12.5vw;
    line-height: 4.166666666666667vw;
    font-size: 3.333333333333333vw;
  }
  .faq-section .accordeon .list-item .list-title::after {
    top: 48%;
    right: 7.5%;
    width: 3.125vw;
    height: 3.125vw;
    border-width: 0.208333333333333vw;
  }
  .faq-section .accordeon .list-item .list-info {
    margin-top: -12.5vw;
    margin-left: 0;
    margin-right: 0;
    padding-top: 14.583333333333334vw;
    padding-bottom: 4.166666666666667vw;
    padding-left: 2.083333333333333vw;
    padding-right: 2.083333333333333vw;
    line-height: 4.583333333333333vw;
    font-size: 3.333333333333333vw;
    -webkit-border-bottom-right-radius: 3.125vw;
            border-bottom-right-radius: 3.125vw;
    -webkit-border-bottom-left-radius: 3.125vw;
            border-bottom-left-radius: 3.125vw;
  }
}
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
